body {
    font-family: Roboto, sans-serif;
    margin: 0;
}

header {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 48px 150px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 24px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

a {
    text-decoration: none;
    color:#e5e7eb;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.signup > h1 {
    font-size: 48px;
    font-weight: bolder;
}

.signup > p {
    font-size: 18px;
    color: #e5e7eb;
}

.signup {
    display: flex;
    gap: 24px;
    flex-wrap: wrap-reverse;
}

.hero {
    flex: 1 1 300px;
}

.cards {
    display: flex;
    padding: 0 48px;
    gap: 24px;
    justify-content: center;

}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    text-align: center;
}

#info-section > h2 {
    text-align: center;
}

#info-section > h2 {
    margin: 48px 0;
}

#info-section {
    margin: 48px 0;
}

#testimonials {
    background-color: #e5e7eb;
    padding: 48px 150px;
}

#testimonials > h2 {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
    margin-bottom: 30px;
}

#testimonials > p {
    font-weight: bold;
    text-align: right;
}

#calltoaction {
    padding: 68px 150px;
}

.modal {
    background-color: #3882f6;
    padding: 20px 0px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.modal-text > p, .modal-text > h2 {
    padding: 0px;
    margin: 10px;
    color: #fff;
}

h2 {
    margin: 0px;
}

button {
    padding: 8px 20px;
    font-weight: bold;
    border-style: none;
    border-radius: 10px;
    color:#fff;
    background-color: #3882f6;
}

.modal > button {
    border: 2px solid #fff;
}
