/* --------general-------- */

body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color:#C3FFCA;
}

button {
    padding: 8px 20px;
    font-weight: bold;
    border-style: none;
    border-radius: 10px;
}




            /* --------header-------- */

header {
    /* background-color: #00C96F; */
    background-color: #00A95D;
    padding: 5vh 10vw;
    color: #fff;
}

/* -----navbar----- */
.navbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 24px;
}

/* -----hero----- */

.hero {
    display: flex;
    gap: 36px;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    align-items: center;
}

.hero-text {
    flex: 1;
    min-width: 30%;
}

.hero-title {
    font-size: 48px;
    font-weight: bold;
}

.hero-subtitle {
    font-size: 18px;
    color: #fff;
    margin: 20px 0;;
}

.hero-btn {
    color:#00A95D;
    background-color: #C3FFCA;
}

.hero-img {
    flex: 1;
    max-width: 100%;
    margin-bottom: 20px;
}






            /* --------info-section-------- */

#infosec {
    padding: 60px;
    background-color: #00011F;
    color:#fff;
}

.infosec-title {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #fff;
}

/* -----cards----- */

.cards {
    display: flex;
    padding: 0 48px;
    gap: 30px;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    text-align: center;
    gap: 30px;
}






            /* --------testimonials-------- */

#quote {
    background-color: #C3FFCA;
    padding: 5vh 20vw;
    color: #00A95D;
}

.quote-text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    margin-bottom: 30px;
}

.quote-credit{
    font-size: 16px;
    text-align: right;
    font-weight: bold;
}







            /* --------call-to-action-------- */


#cta {
    padding: 5vh 12vw;
    background-color: #00A95D;
}

.modal {
    background-color: #C3FFCA;
    padding: 20px 45px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.modal-title {
    font-size: 1.5em;
    font-weight: bold;
}

.modal-title, .modal-subtitle {
    padding: 0px;
    margin: 10px;
    color: #00A95D;
}

.modal-btn {
    border: 2px solid #00A95D;
    color: #00A95D;
    background-color: #C3FFCA;
}




            /* --------footer-------- */


footer {
    padding: 20px;
    background-color: #00011F;
    color: #fff;
    text-align: center;
}
